@use './styles/transition.scss' as *;

html {
  transition: background-color 0.3s ease-in-out;
  background-color: var(--el-bg-color);
}

.dark {
  background-color: var(--el-bg-color);
}

#app {
  min-height: 100vh;
}

body {
  min-height: 100vh;
  height: var(--body-height, 100vh);
}
